<%= stylesheet_link_tag "meetings/show.css"%>

<div class="page-header">
	<h3>{{meeting.title}}</h3>
	<p class="text-muted">{{meeting.description}}</p>
</div>

<div>When: <span>{{meeting.created_at | date:'mediumDate'}} @ {{meeting.created_at | date:'shortTime'}}</span></div>
<div>Duration: <span>{{meeting.duration}} mins.</span></div>
<div>Location: <span>{{meeting.location}}</span></div>

<hr></hr>

Attendees:
<ul>
	<li ng-repeat="attendee in meeting.users">{{attendee.username}}</li>
</ul>

<hr></hr>

<h3>Agenda:</h3>
<ol class="agenda-items">
	<li ng-repeat="item in meeting.agenda_items" class="agenda-item" ng-click="makeActive(item)" ng-class="{'active': item.active}" >
		<span ng-click="removeAgendaItem(item)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		<a href="#" blur="submit" onaftersave="saveAgendaItem(item)" buttons="no" editable-text="item.title">
			{{item.title}}
		</a>
		<table style="width:100%;" class="agenda-notes">
			<tr agenda-note-list-item ng-repeat="note in item.agenda_notes" note-types="noteTypes" agenda-note="note" agenda-item="item"> 
			</tr>
		</table>
		<div ng-class="item.active ? 'active' : 'hidden'">
			<agenda-note-form agenda-item="item" note-types="noteTypes"></agenda-note-form>
		</div>
	</li>
	<li class="agenda-item agenda-item-form">
		<form>
			<input input type="number" class="duration form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="15" ng-model="duration"> min. 
			<input type="text" class="form-control title" placeholder="Agenda item title" ng-model="title">
			<button type="submit" class="btn btn-primary" ng-click="createAgendaItem()">Save</button>
		</form>
	</li>
</ol>