td{
	padding-top:10px;
}

.agenda-item{
	border-bottom: 1px dashed;
	padding:20px;
}

.active{
	background: #dff0d8;
}

.agenda-item-form .title{
	width:60%; 
	display:inline-block;
}

.agenda-item-form .duration{
	width:43px; 
	display:inline-block;
}

.delete-icon{
	width:20px;
}

.note-type-select{
	width:100px;
}

.new-agenda-note-form .note-type-select .form-control{
	width:91px;
}

.note-submit{
	width:60px;
	padding-left:10px;
}

.editable-number .form-control{
    width:43px;
}

.editable-text .form-control{
    width:100%;
}

.editable-text .editable-controls{
	width:100%;
}

.editable-text{
	width:100%;
}