<%= stylesheet_link_tag "projects/show.css"%>

<div class="page-header">
	<h3>
		{{project.title}} 
		<button ng-hide="project.isMember" ng-click="joinProject(project)" class="btn btn-success">Join</button>
		<button ng-show="project.isMember" ng-click="leaveProject(project)" class="btn btn-danger">Leave</button>
	</h3>
</div>

Created by: {{project.owner.username}}<br/>
Members:
<ul>
	<li ng-repeat="member in project.users">{{member.username}}</li>
</ul>

<hr></hr>
<h3>Meetings</h3>

<table class="table table-hover">

	<div ng-class="apt.name.length >= 15 ? 'col-md-12' : (apt.name.length >= 10 ? 'col-md-6' : 'col-md-4')">

	<tr ng-repeat="meeting in project.meetings" ng-class="meeting.status == 1 ? 'success' : (meeting.status == 0 ? 'info' : 'active')" >
		<td>{{meeting.title}}</td>
		<td>{{meeting.created_at | date:'mediumDate'}} @ {{meeting.created_at | date:'shortTime'}}</td>
		<td>{{meeting.location}}</td>
		<td>{{meeting.duration}} mins.</td>
		<td width="30%">
			{{meeting.description}}
		</td>
	</tr>
</table>

<button ng-click="gcalLogin()">Sync Google Calendar</button>


<h3>Schedule a Meeting</h3>

<form ng-submit="createMeeting()" style="margin-top:30px;">
  <div class="row">
  <fieldset class="form-group col-md-6">
  	<label for="meeting-title">Title</label>
    <input type="text" class="form-control" id="meeting-title" placeholder="Untitled Meeting" ng-model="title"></input>
  </fieldset>

  <fieldset class="form-group col-md-6">
  	  <label for="meeting-attendees">Attendees</label>
	  <tags-input ng-model="attendees" id="meeting-attendees" display-property="username" add-from-autocomplete-only="true" placeholder="Who is coming?">
	  	<auto-complete source="autocompleteUsers($query)"></auto-complete>
	  </tags-input>
  </fieldset>
	</div>

  <fieldset class="form-group">
    <label for="meeting-location">Location</label>
    <input type="text" class="form-control" id="meeting-location" placeholder="Don't forget to book the room!" ng-model="location"></input>
  </fieldset>

	<!--<div ui-calendar="uiConfig.calendar" style="display:inline-block;" calendar="userCalendar" ng-model="eventSources"></div>-->
	
	<div class="minute-holder">
		<h2>Your meeting is <input input type="number" max="120" id="meeting-duration" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="60" ng-model="duration"> minutes
		</h2>
	</div>

	<fieldset class="form-group">
			<button type="submit" class="btn btn-primary">Create</button>
	</fieldset>

</form>
