<!-- <div class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
    <li><a href="/home">Home</a></li>
  </ul>
</div> -->

<a href="/"><div class="page-header">
    <%= image_tag("meat-icon.png", :class => "page-header-logo") %>
    <h2 class="page-header-title">Your Meetings, well-done.</h2>
</div></a>